<!-- <nav class="navbar navbar-expand-lg"> -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          
          <a class="navbar-brand" href="#"><img src="../../assets/img/astalogo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"  id="mySidenav"> 
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" >About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Infrastructure</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Teaching</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admissions</a>
              </li>
             
            </ul> -->
           
            <div class="contact">
              <button class=" btn0 "><i class="fa fa-phone" aria-hidden="true" style="width: 20px;"></i> +91 75500 22222</button>
              </div>
      
              <!-- <div class="contact1">
                <button class="btn8">+91 9876543210</button>
              </div> -->
            <!-- </form> -->
          </div>
        </div>
      </nav>

    
<app-footer></app-footer>