.navbar-brand{
    margin-left: 70px;
    color: black;
}
.mgrlogo{
    margin-left: 30px;
}
.navbar {
    background-color: #ffff;
}
.banner{
    background-color:  #E5E5E5;;
}
.contact{
    margin-left: 87%;
  

}
.num{
    color: #ffff;
}
.navbar-nav{
    margin: auto;
}
.nav-item a{
    padding-right: 1.9rem;
    padding-left: 0.5rem;
    color: #1D1D1D;

}
.image{
    height: 500px;
}
.btn0{
    background: rgba(150, 172, 193, 0.2);
border: 0px;
    width: 170px;
    border-radius: 100px;
    color:  #003369;
  padding: 6px;
}
@media only screen and (max-width: 425px){
    
}