<section class="footer">
    <div class="container">
        <div class="row bottom">
            <div class="col-md-6 foo">
<h1>Download a PDF Brochure</h1>
<p>Here’s a glimpse of the luxurious apartments, world-class amenities and beautifully designed common spaces …</p>
        </div>
        <div class="col-md-6">
            <button class="btn11">Download</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 foo1">
<img src="../../assets/img/foo-logo.png">
<p>8/91, CP Ramaswamy Road,<br>
    Alwarpet,
     Chennai – 600018.</p>
     <p>Asta Arise Alwarpet  |  Ultra Luxury Apartments in Chennai  |  Luxury Apartments in Alwarpet  |  Duplex Apartments in Chennai
        Apartments for sale in Chennai  |  Apartments in Poes Garden  |  Flats in Mylapore  |  Premium Apartments in Chennai
        3BHK Apartments for sale  |  4BHK Luxury Apartments for sale  |  5BHK Luxury Flats for Sale  |  Top Builders in Chennai</p>
        <h6>*Pictures shown are for illustration purpose only. RERA No: TN/29/BUILDING/210/2019</h6>
        </div>
        <div class="col-md-6">
            <div class="foo2">
                <p>+91 7550022222 </p>
                <img src="../../assets/img/arr.png">
            </div>

            <div class="foo3">
                <p>+91 7550022222 </p>
                <img src="../../assets/img/arr.png">
            </div>
        </div>
    </div>
    </div>
</section>
